@font-face {
    font-family: "DFPOPCorn-W7";
    src: url(fonts/DFPOPCorn-W7.ttf) format("truetype");
}

@font-face {
    font-family: "Prompt-Medium";
    src: url(fonts/Prompt-Medium.ttf) format("truetype");
}